@model IEnumerable<PeopleSearch.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<html>
<head>

    <title>Index</title>
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){    
            $('.displaypeople').click(function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: { searchString: document.getElementById("SearchString").value },
                    url: '@Url.Action("SearchPeople", "People")',
                    success: function (people) {
                        var s = '';
                        for (var i = 0; i < people.length; i++) {
                            s += "<dl class='dl-horizontal'>" +
                                    "<dt>First Name: </dt>" +
                                    "<dd>" + people[i].FirstName + "</dd>" +
                                    "<dt>Last Name: </dt>" +
                                    "<dd>" + people[i].LastName + "</dd>" +
                                    "<dt>Address: </dt>" +
                                    "<dd>" + people[i].Address + "</dd>" +
                                    "<dt>Age: </dt>" +
                                    "<dd>" + people[i].Age + "</dd>" +
                                    "<dt>Interests: </dt>" +
                                    "<dd>" + people[i].Interests + "</dd>" +
                                    "<dt>Picture: </dt>";
                            if (people[i].ImageScr != null) {
                                s += "<dd> <img src='" + people[i].ImageScr + "' width='80' height='80' /></dd>";
                            }
                            else {
                                s += "<dd></dd>";
                            }
                            s += "</dl>";
                        }
                        $("#result").html(s);
                    }
                });
            });

        });
        
    </script>

</head>

<body> 
    <hr />
    <table style="width:100%">
        <tr>
            <td>
                Name: <input type="text" name="SearchString" id="SearchString">
                <input type="button" class="displaypeople" value="Search People" />
            </td>
            <td align="right">
                <a asp-action="Create">Create New Person</a>
            </td>
        </tr>
    </table>  
   
    <div id="result"></div>

</body>
</html>